:root {
  --cleo-white: #FFFFFF;
  --cleo-white-100: #F9F9F9;
  --cleo-white-200: #F2F2F2;
  --cleo-white-300: #ECECEC;
  --cleo-white-400: #E5E5E5;
  --cleo-white-500: #DFDFDF;
  --cleo-white-600: #D9D9D9;
  --cleo-white-700: #D2D2D2;
  --cleo-white-800: #CCCCCC;
  --cleo-mist: #E6ECF5;
  --cleo-mist-100: #F0F4F9;
  --cleo-mist-200: #EEF2F8;
  --cleo-mist-300: #EBF0F7;
  --cleo-mist-400: #E8EEF6;
  --cleo-mist-500: #E6ECF5;
  --cleo-mist-600: #E0E6EF;
  --cleo-mist-700: #DAE0E9;
  --cleo-mist-800: #D5DAE3;
  --cleo-cleo-blue: #0057FF;
  --cleo-cleo-blue-100: #3379FF;
  --cleo-cleo-blue-200: #2670FF;
  --cleo-cleo-blue-300: #1A68FF;
  --cleo-cleo-blue-400: #0D5FFF;
  --cleo-cleo-blue-500: #0057FF;
  --cleo-cleo-blue-600: #004AD9;
  --cleo-cleo-blue-700: #003DB2;
  --cleo-cleo-blue-800: #00308C;
  --cleo-royal: #0538CB;
  --cleo-royal-100: #1E4CD0;
  --cleo-royal-200: #1847CF;
  --cleo-royal-300: #1242CE;
  --cleo-royal-400: #0B3DCC;
  --cleo-royal-500: #0538CB;
  --cleo-royal-600: #0532B7;
  --cleo-royal-700: #042A98;
  --cleo-royal-800: #032484;
  --cleo-navy: #082549;
  --cleo-navy-100: #213B5B;
  --cleo-navy-200: #1B3557;
  --cleo-navy-300: #143052;
  --cleo-navy-400: #0E2A4E;
  --cleo-navy-500: #082549;
  --cleo-navy-600: #072142;
  --cleo-navy-700: #061C37;
  --cleo-navy-800: #05182F;
  --cleo-ink: #010516;
  --cleo-ink-100: #1F2332;
  --cleo-ink-200: #1C1F2E;
  --cleo-ink-300: #181C2B;
  --cleo-ink-400: #141827;
  --cleo-ink-500: #101424;
  --cleo-ink-600: #0C1020;
  --cleo-ink-700: #090D1D;
  --cleo-ink-800: #050919;
  --cleo-gradient: linear-gradient(180deg, #0057FF 0%, #0538CB 32%, #082549 66%, #010516 100%);
}
